.product-title-nav{
    margin-top: 3.7rem;
    background-color: #f6f6f8;
    padding: 1.3rem 5rem;
    display: flex;
    align-items: center;
    font-size: .9rem;
}
.arrow{
    font-size: 1rem;
    margin: 0 .4rem;
}
.product-title-link{
    transition: all .2s ease-in-out;
}
.product-title-link:hover{
    color: #5fbd74;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 4rem;
    gap: 2rem;
}
.left-product-grid{
    width: 100%;
    height: 100%;
}
.left-product-grid img{
    width: 100%;
    height: auto;
}
.product-title{
    font-size: 1.1rem;
}
.product-price{
    margin: .5rem  0;
    margin-bottom: 1rem;
}
.quantity-container{
    border: 1px solid black;
    display: inline-block;
    padding: .3rem;
    border-radius: 5rem;
}
.quantity-flex{
    display: flex;
    align-items: center;
}
.quantity{
    width: 3.5rem;
    border: none;
    text-align: center;
    font-size: 1rem;
}
.quantity[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    margin: 0;  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity:focus{
    outline: none;
}
.quantity-icons{
    cursor: pointer;
    user-select: none;
}
.quantity-icons:hover{
    color: #5fbd74;
}
.quantity-fav{
    border: 1px solid black;
    border-radius: 50%;
    padding: .4rem;
    cursor: pointer;
}
.quantity-fav:hover{
    color: #5fbd74;
    border-color: #5fbd74;
}
.add-container-wrapper{
    display: flex;
    flex-direction: column;
}
.add-container{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.buy-btn{
    display: block;
    width: 50%;
    transition: all .2s ease-in-out;
}
.buy-btn:hover{
    background-color: #2e2e2e;
}
.add-btn{
    padding: .7rem 1.5rem;
   border-radius: 10rem;
   font-weight: bold;
   color: white;
   border: none;
   background-color: #60bd75;
   cursor: pointer;
   display: block;
   margin: 0 1rem;
}
.add-btn:hover{
    opacity: .8;
}
.product-order{
    text-transform: uppercase;
    margin: 1rem 0;
}
.guranteed{
    margin: auto;
    margin-bottom: 2rem;
}
.guranteed img{
    width: 100%;
    display: block;
}
.product-ask{
    margin-bottom: 1.5rem;
}
.product-categories{
    margin: .5rem 0;
}
.single-categories:hover{
    color: #5fbd74;
    cursor: pointer;

}
.product-social-icons{
    text-align: center;
    margin: 2rem 0;
}
.product-social-icons i{
    margin-right: 1.3rem;
    font-size: 1.3rem;
    color: #2e2e2e;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: bolder;
    padding: .2rem;
}
.fa-facebook-f:hover{
    color: #0e8ef1;
    transform: translateY(-.2rem);
}
.fa-twitter:hover{
    color: skyblue;
    transform: translateY(-.2rem);
}
.fa-envelope:hover{
    opacity: .7;
    transform: translateY(-.2rem);
}
.fa-pinterest-p:hover{
    color: darkred;
    transform: translateY(-.2rem);
}
.fa-facebook-messenger:hover{
    color: rgb(2, 40, 255);
    transform: translateY(-.2rem);
}
.svg{
    font-size: 14px;
    height: 2.1rem;
}